.principal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal h1{
    font-size: 120px;
}

.principal a{
    text-decoration: none;
    background-color: #116feb;
    color: #fff;
    padding: 10px;
    margin-top: 14px;
}

.pontuacao {
    text-align: center;
}

h5 {
    padding-top: 1%;
}

h3 {
    padding-top: 2%;
}